<ion-item class="mb-2">
    <ion-label>I'm looking for...</ion-label>
    <ion-select multiple="false" [(ngModel)]="Selected" (ionChange)="switchActiveLayer($event)">
        <ion-option value="0">Greenways</ion-option>
        <ion-option value="1">Libraries</ion-option>
    </ion-select>
</ion-item>

<div id="address" #address></div>

<div *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    Searching for results...
</div>

<div *ngIf="!loading && features.length == 0 && queried">
    No Results Found. :(
</div>

<ion-card class="card-center" *ngFor="let feature of sortBy('distance')" (click)="mapViewZoom(feature)">
    <ion-item>
        <ion-label>{{ feature.attributes[ServiceNameField] }}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>{{ feature.distance }} miles away</ion-label>
    </ion-item>
</ion-card>
<div id="map" #map></div>