#map{
    height: 500px;
    width: 100%;
}

#address{
    display:block;
    text-align:left;
    width:100%;
    margin:0;
    padding: 14px;
    border: 1px solid #ccc;
    margin-bottom:20px;
}

@media screen and (max-width: 600px){
    #address{
        display:block;
        text-align:left;
        width:100%;
        margin:0;
        padding: 14px;
        border: 1px solid #ccc;
    }
}

#address-suggest-menu{
    width: 100%;
    display: inline-block;
}

.esri-search__suggestions-list{
    // position: absolute;
}

.esri-search__suggestions-list > li{
    padding: 1em;
}

.card-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mb-2{
    margin-bottom: 2em !important;
}